





.texto-main{
    margin-top: 80px;
    margin-bottom: 80px;
}

input.form-control-home{
    border: 1px solid black;
}
select.form-control-home{
    border: 1px solid black;

}

button.btn-aside{
    background-color: #F75611;
    margin-top: 20px;
    width: 100%;
    
}
button.btn-aside:hover{
    background-color: #F70C5B;
  
}


.container_home{
  text-align: center;   
  margin-left: 10%;
  margin-right: 10%;
}

